<div class="card p-3">
  <h3 class="card-title">Login</h3>

  <div class="card-body">
    <div class="row mb-3">
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="username">Username</span>
        <input [(ngModel)]="user.username" type="email" class="form-control" placeholder="email@exemple.com" aria-label="Username" aria-describedby="username">
      </div>
    </div>

    <div class="row mb-3">
      <div class="input-group flex-no-wrap">
        <span class="input-group-text" id="password">Password</span>
        <input [(ngModel)]="user.password" type="password" class="form-control" placeholder="Password" aria-label="Username"
               aria-describedby="password">
      </div>
    </div>

    <div class="row-cols-4">
      <button type="submit" class="btn btn-primary" (click)="login()">Login <i class="bi bi-chevron-double-right"></i></button>
    </div>
  </div>
</div>
